<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'index.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Outfit:wght@100..900&display=swap"
        rel="stylesheet">
    <title>Vladyslav Vatslavyi</title>
</head>

<body>
    <div class="container">
        <header>
            <div class="logo">Vladyslav Vatslavyi</div>
            <nav>
                <ul class="navbar-list">
                    <li>
                        <a href="#aboutMe">About Me</a>
                    </li>
                    <li>
                        <a href="#education">Education</a>
                    </li>
                    <li>
                        <a href="#techstack">Techstack</a>
                    </li>
                    <li>
                        <a href="#projects">Projects</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </nav>
        </header>

        <main>
            <section id="aboutMe" class="about-card">
                <p class="about-title">About me section</p>
                <div class="photo-placeholder"></div>
            </section>

            <section id="education" class="education">
                <div class="education-placeholder">
                    <h1 class="education-title">School</h1>
                    <p class="education-text">Education section</p>
                </div>
                <div class="education-placeholder">
                    <h1 class="education-title">Technical School</h1>
                    <p class="education-text">Education section</p>
                </div>
                <div class="education-placeholder">
                    <h1 class="education-title">University</h1>
                    <p class="education-text">Education section</p>
                </div>
            </section>

            <section id="techstack" class="techstack">
                <div class="techstack-placeholder">
                    <h1 class="techstack-title">link to a project</h1>
                    <div class="tech-badge">
                        <img src="https://cdn.simpleicons.org/python" alt="Python">
                    </div>
                </div>
            
                <div class="techstack-placeholder">
                    <h1 class="techstack-title">link to a project</h1>
                    <div class="tech-badge">
                        <img src="https://cdn.simpleicons.org/c" alt="C">
                    </div>
                </div>
            
                <div class="techstack-placeholder">
                    <h1 class="techstack-title">link to a project</h1>
                    <div class="tech-badge">
                        <img src="https://cdn.simpleicons.org/cplusplus" alt="C++">
                    </div>
                </div>
            
                <div class="techstack-placeholder">
                    <h1 class="techstack-title">link to a project</h1>
                    <div class="tech-badge">
                        <img src="https://cdn.simpleicons.org/openjdk" alt="Java">
                    </div>
                </div>
            
                <div class="techstack-placeholder">
                    <h1 class="techstack-title">link to a project</h1>
                    <div class="tech-badge">
                        <img src="https://cdn.simpleicons.org/oracle" alt="SQL">
                    </div>
                </div>
            
                <div class="techstack-placeholder">
                    <h1 class="techstack-title">link to a project</h1>
                    <div class="tech-badge">
                        <img src="https://cdn.simpleicons.org/html5" alt="HTML">
                    </div>
                </div>
            
                <div class="techstack-placeholder">
                    <h1 class="techstack-title">link to a project</h1>
                    <div class="tech-badge">
                        <img src="https://cdn.simpleicons.org/css3" alt="CSS">
                    </div>
                </div>
            </section>

            <section id="projects" class="projects">
                <div class="projects-placeholder">
                    <h1 class="projects-title">link to a project</h1>
                    <p class="projects-text">Project description</p>
                </div>
                <div class="projects-placeholder">
                    <h1 class="projects-title">link to a project</h1>
                    <p class="projects-text">Project description</p>
                </div>
            </section>
        </main>

        <footer id="contact" class="page-footer"> 
            <div class="contact-title">Contact: </div>
            <ul class="contact-list">
                <a href="https://github.com" target="_blank" class="contact-link">
                    <i class="fab fa-github"></i> GitHub
                </a>
                </li>
                <li>
                    <a href="https://linkedin.com/in" target="_blank" class="contact-link">
                        <i class="fab fa-linkedin"></i> LinkedIn
                    </a>
                </li>
                <li>
                    <a href="https://t.me/твій-юзернейм" target="_blank" class="contact-link">
                        <i class="fab fa-telegram"></i> Telegram
                    </a>
                </li>
                <li>
                    <a href="https://wa.me/твій-номер" target="_blank" class="contact-link">
                        <i class="fab fa-whatsapp"></i> WhatsApp
                    </a>
                </li>
                <li>
                    <a href="mailto:твій-email@gmail.com" class="contact-link">
                        <i class="fas fa-envelope"></i> Gmail
                    </a>
                </li>
            </ul>
        </footer>
    </div>
</body>

</html>