<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'index.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Outfit:wght@100..900&display=swap"
        rel="stylesheet">
    <title>Vladyslav Vatslavyi</title>
</head>

<body>
    <div class="container">
        <header>
            <div class="logo">Vladyslav Vatslavyi</div>
            <nav>
                <ul class="navbar-list">
                    <li>
                        <a href="#aboutMe">About Me</a>
                    </li>
                    <li>
                        <a href="#education">Education</a>
                    </li>
                    <li>
                        <a href="#techstack">Techstack</a>
                    </li>
                    <li>
                        <a href="#projects">Projects</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </nav>
        </header>

        <main>
            <section id="aboutMe" class="about-card">
                <p class="about-title">About me section</p>
                <div class="photo-placeholder"></div>
            </section>

            <section id="education" class="education">
                <div class="education-placeholder">
                    <h1 class="education-title">School</h1>
                    <p class="education-text">Education section</p>
                </div>
                <div class="education-placeholder">
                    <h1 class="education-title">Technical School</h1>
                    <p class="education-text">Education section</p>
                </div>
                <div class="education-placeholder">
                    <h1 class="education-title">University</h1>
                    <p class="education-text">Education section</p>
                </div>
            </section>

            <section id="techstack" class="techstack">
                <div class="techstack-placeholder">
                    <h1 class="techstack-title">link to a project</h1>
                    <div class="tech-badge">&lt;Python logo&gt;</div>
                </div>
            
                <div class="techstack-placeholder">
                    <h1 class="techstack-title">link to a project</h1>
                    <div class="tech-badge">&lt;C logo&gt;</div>
                </div>
            
                <div class="techstack-placeholder">
                    <h1 class="techstack-title">link to a project</h1>
                    <div class="tech-badge">&lt;C++ logo&gt;</div>
                </div>
            
                <div class="techstack-placeholder">
                    <h1 class="techstack-title">link to a project</h1>
                    <div class="tech-badge">&lt;Java logo&gt;</div>
                </div>

                <div class="techstack-placeholder">
                    <h1 class="techstack-title">link to a project</h1>
                    <div class="tech-badge">&lt;SQL logo&gt;</div>
                </div>

                <div class="techstack-placeholder">
                    <h1 class="techstack-title">link to a project</h1>
                    <div class="tech-badge">&lt;HTML logo&gt;</div>
                </div>

                <div class="techstack-placeholder">
                    <h1 class="techstack-title">link to a project</h1>
                    <div class="tech-badge">&lt;CSS logo&gt;</div>
                </div>
            </section>

            <section id="projects" class="projects">
                <div class="projects-placeholder">
                    <h1 class="projects-title">link to a project</h1>
                    <p class="projects-text">Project description</p>
                </div>
                <div class="projects-placeholder">
                    <h1 class="projects-title">link to a project</h1>
                    <p class="projects-text">Project description</p>
                </div>
            </section>
        </main>

        <footer id="contact" class="page-footer"> 
            <div class="contact-title">Contact: </div>
            <ul class="contact-list">
                <li>
                    GitHub:
                </li>
                <li>
                    LinkedIn:
                </li>
                <li>
                    Telegram:
                </li>
                <li>
                    WhatsApp:
                </li>
                <li>
                    Gmail:
                </li>
            </ul>
        </footer>
    </div>
</body>

</html>